/* TIPOGRAFIAS*/

@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

/* COLOR DE FONDO*/
#body-index {
  background-color: rgb(2, 2, 2);
}

#body-acerca-de-nosotros {
  background-color: rgb(166, 193, 197);
}

#body-perros {
  background-color: #ece3dc;
}

#body-contacto {
  background-color: rgb(91, 116, 230);
}

#body-sobre-la-raza{
  background-color: rgb(238, 185, 136);
}

/* CIERRE COLOR DE FONDO*/

/* CIERRE COLOR DE FONDO*/

/* NAVEGADOR */
.navbar {
  border-bottom: 4px solid rgb(226, 198, 144);
}
.navbar-brand {
  font-size: 35px;
}

.navbar-brand:hover {
  border-bottom: 4px solid rgb(248, 213, 148);
}

.nav-item {
  margin-left: 200px;
  font-size: 23px;
  font-family: "Playfair", serif;
}

.nav-link:hover {
  border-bottom: 4px solid rgb(248, 213, 148);
}
.navbar-text {
  font-size: 25px;
  font-family: "Roboto Condensed", sans-serif;
}
/*CIERRE NAVEGADOR*/

/* CARRUSEL*/
#carouselExampleFade {
  width: 750px;
  top: 50px;
  left: 50px;
}
/* CIERRE CARRUSEL*/

/* TEXTO INDEX */

.contenedor-parrafo-index {
  position: absolute;
  color: aliceblue;
  display: inline-block;
  left: 50%;
  bottom: 500px;
}

.h3-index {
  position: relative;
  display: inline-block;
  left: 30%;
}

/* CIERRE TEXTO INDEX*/

/* ACERCA DE NOSOTROS*/

.h1-acerca-de-nosotros {
  display: inline-block;
  font-family: "Bebas Neue";
  font-size: 100px;
}

.parrafo-acerca-de-nosotros {
  font-size: 20px;
}

.section-acerca-de-nosotros {
  display: flex;
}

.fotos-acerca-de-nosotros {
  flex-wrap: wrap;
  width: 460px;
  height: 340px;
}

/* CIERRE ACERCA DE NOSOTROS*/

/* PERROS */

.foto-perros {
  position: relative;
  width: 650px;
  left: 10%;
}

/*  CIERRE PERROS */

/* CONTACTO*/

.mb-3 {
  margin: 50px;
}

.form-label {
  font-size: 30px;
}

#exampleFormControlInput1 {
  padding: 10px;
}

.btn {
  position: absolute;
  border: 3px solid blue;
  left: 50%;
  font-size: 40px;
}

/* CIERRE CONTACTO*/

/* SOBRE LA RAZA*/

.div-sobre-la-raza{
  width: 100%;
  height: 300px;
  background-color: black;
}

.h1-sobre-la-raza {
  position: relative;
  display: inline-block;
  color: aliceblue;
  left: 43%;
  top: 25%;

}

.div-contenedor-sobre-la-raza {
  border: 3px solid blue;
}

.div-sobre-la-raza-p {
  font-size: 20px;
}


/* MEDIA QUERIES*/

@media (max-width: 991px) {
  #body-index {
    width: 991px;
  }
  .d-block {
    width: 350px;
    height: 350px;
  }

  .contenedor-parrafo-index {
    position: absolute;
    bottom: 20px;
    left: 15px;
  }

  .Parrafo-index {
    font-size: 20px;
    text-transform: capitalize;
  }
  .h3-index {
    display: inline-block;
    position: relative;
    left: 40%;
    font-family: "Bebas Neue", sans-serif;
  }
}
